* {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
   height: 100%;
}
body {
	font-size: 16px;
	min-height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, rgba(64,58,89,0.478), rgba(64,58,89,0.478)), url('../images/background.jpeg');
	background-position: 0% 0% center;
	background-repeat: repeat, repeat;
	background-size: auto, cover;
	background-attachment: fixed;
	background-color: #FFFFFF;
	overflow-y: scroll;
}
.top-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
.nav-links {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.nav-list-item {
	display: table-cell;
	text-align: center;
	color: ghostwhite;
	padding: 12px 0;
	border-left: 1px dotted #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
	border-right: 1px dotted #e6e6e6;
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
}
.nav-list-item:first-child {
	border-left: none;
}
.nav-list-item:last-child {
	border-right: none;
}
.nav-link {
	border-bottom: none;
	color: ghostwhite;
	text-decoration: none;
}
.nav-link:hover {
	color: #0074D9;
}
.site-section {
	height: 100%;
	min-height: 50vh;
	width: 100%;
	max-width: 1000px;
	margin: 15vh auto 0;
	padding: 0 10px;
}

.about-me {
	text-align: center;
	z-index: 1;
}
.about-heading {
	color: ghostwhite;
	font-family: 'Open Sans';
    position: relative;
    letter-spacing: 0.35rem;
    font-size: 3.125em;
    line-height: 1.175;
    font-weight: 800;
    padding: 5px 2px 15px;
    border-bottom: 2px solid #e6e6e6;
}
.about-subheading {
	padding-top: 15px;
	color: #FFFFFF;
    font-family: 'Exo';
    position: relative;
    letter-spacing: 0.05rem;
    font-size: 1.3em;
    line-height: 1.675;
    font-weight: 200;
}
.social-media {
	margin-top: 20px;
}
.social-media-list {
	padding-left: 0;
	margin-left: 0;
	text-align: center;
	list-style-type: none;
}
.social-list-item {
	text-align: center;
	display: inline-block;
	padding: 0 10px;
}
.social-media-image {
	width: 50px;
}
.resume-section {
	margin-bottom: 20px;
	border-bottom: 2px dashed #e6e6e6;
	padding-bottom: 20px;
}
.resume-section:last-of-type {
	margin-bottom: 20px;
	border-bottom: none;
	padding-bottom: 0;
}
.resume ul {
	list-style-type: disc;
	padding: 10px 20px 0 ;
}
.resume ul li {
	color: ghostwhite;
}
.section-heading {
	color: ghostwhite;
	font-family: 'Open Sans';
    position: relative;
    letter-spacing: 0.35rem;
    font-size: 2.625em;
    line-height: 1.175;
    font-weight: 800;
    padding: 5px 2px 15px;
    text-align: center;
    border-bottom: 2px dashed #e6e6e6;
    margin-bottom: 15px;

}
.resume-subheading {
	color: ghostwhite;
	font-family: 'Open Sans';
    position: relative;
    letter-spacing: 0.35rem;
    font-size: 2.125em;
    line-height: 1.175;
    font-weight: 800;
    padding: 5px 2px 15px;
}
.resume-sub-subheading {
	font-family: 'Exo';
	font-size: 16px;
	color: ghostwhite;
	margin-bottom: 10px;
	font-weight: 700;
}
.resume-example {
	font-family: 'Exo';
	font-size: 16px;
	color: ghostwhite;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: 500;
}
.experience-item {
	margin-bottom: 10px;
}
.experience-item:last-child {
	margin-bottom: 0;
}

.skills-list {
	list-style-type: disc;
	list-style-position: inside;
	-webkit-columns: 300px 3;
    -moz-columns: 300px 3;
    columns: 300px 3;
}
.skills-item {
	font-family: 'Exo';
	font-size: 16px;
	color: ghostwhite;
	margin-bottom: 10px;
	font-weight: 700;
	clear: left;
}
.skills-item:last-child {
	margin-bottom: 0;
}
.experience-example {
	text-align: center;
	margin: 20px 0;
}
.experience-example-subheading {
	margin-bottom: 20px;
}
.experience-example-image-section {
	float: left;
	width: 50%;
}
.experience-example-image {
	max-width: 300px;
	max-height: 200px;
}
.experience-example-image:hover {
	opacity: 0.6;
}
.experience-example-image-subheading {
	font-family: 'Exo';
	font-size: 16px;
	color: ghostwhite;
	margin: 10px 0;
	font-weight: 500;
}
.contact-copy {
	font-family: 'Exo';
	font-size: 16px;
	color: ghostwhite;
	margin-bottom: 30px;
	margin-left: 10px;
	font-weight: 500;
}
.contact-link {
	color: ghostwhite;
	font-weight: bold;
}
.contact-link:hover {
	color: #0074D9;
}

@media screen and (max-width: 768px){
	.social-list-item {
		display: block;
	}
	.social-media-image {
		width: 80px;
		margin-bottom: 10px;
	}
	.nav-list-item {
		border-bottom: none;
	}
	.nav-link {
		border-bottom: 2px solid ghostwhite;
		font-size: .75rem;
	}
	.experience-example-image-section {
		float: none;
		width: 100%;
	}
	.experience-example-image {
		max-width: 300px;
		max-height: 200px;
		width: 100%;
	}
}