* {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
html {
   height: 100%;
   overflow: auto;
}
body {
	font-size: 16px;
	min-height: 100%;
	background-image: linear-gradient(to top, rgba(64,58,89,0.478), rgba(64,58,89,0.478)), url('images/background.jpeg');
	background-position: 0% 0% center;
	background-repeat: repeat, repeat;
	background-size: auto, cover;
	background-attachment: fixed;
	background-color: #FFFFFF;
	overflow-y: scroll;
}
header .nav-links {
	display: table;
	table-layout: fixed;
	width: 100%;
}
header .nav-links li {
	display: table-cell;
	text-align: center;
	color: ghostwhite;
	padding: 10px 0;
	border-bottom: 2px solid #e6e6e6;
	border-left: 1px dotted #e6e6e6;
	border-right: 1px dotted #e6e6e6;
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
}
header .nav-links li:first-child {
	border-left: none;
}
header .nav-links li:last-child {
	border-right: none;
}

header .nav-links li a {
	color: ghostwhite;
	text-decoration: none
}
section.about, section.resume {
	height: 100%;
}
div.about-me {
	max-width: 1000px;
	margin: 15vh auto 0;
	padding: 0 10px;
	text-align: center;
	z-index: 1;
}
div.about-me h1 {
	display: inline-block;
	color: ghostwhite;
	font-family: 'Open Sans';
    position: relative;
    letter-spacing: 0.35rem;
    left: 0.175rem;
    font-size: 3.125em;
    line-height: 1.175;
    font-weight: 800;
    padding: 5px 2px 15px;
    border-bottom: 2px solid #e6e6e6;
}
div.about-me h2 {
	padding-top: 15px;
	color: #FFFFFF;
    font-family: 'Exo';
    position: relative;
    letter-spacing: 0.05rem;
    left: 0.025rem;
    font-size: 1.3em;
    line-height: 1.675;
    font-weight: 200;
}
div.social-media {
	margin-top: 20px;
}
div.social-media ul {
	padding-left: 0;
	margin-left: 0;
	text-align: center;
	list-style-type: none;
}
div.social-media li {
	text-align: center;
	display: inline-block;
	padding: 0 10px;
}
div.social-media li img {
	width: 50px;
}
@media screen and (max-width: 768px){
	div.social-media li {
		display: block;
	}
	div.social-media li img {
		width: 80px;
		margin-bottom: 10px;
	}
	header .nav-links li a {
		font-size: .75rem;
	}
}